$def with (name)

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../static/reset.css">
	<link rel="stylesheet" href="../static/styles.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
	<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
	<script src = "/static/bootstrap/js/bootstrap.js"></script>
	<meta charset="UTF-8">
	<title>NutShellify</title>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
	<script type="text/javascript" src="/static/jquery.js"></script>
	
</head>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
</style>

<style>
*{
	box-sizing: border-box;
}
body{
  background-image: url("https://image.ibb.co/m0jJDb/img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
	.notes-area
{
	height: 80vh;
	border: 1px solid black;
	border-radius: 0;
	padding: 4vh;
}
.diction
{
	height: 10vh;
	border: 1px solid black;
	font-weight: bold;
}

.nonwiki
{
		display: none;
}

.simtext
{
		display:none;
}

.head
{
	text-align: center;
}
.btn
{
	border-radius:0;
}

.jumbotron{
    background-color: rgba(255,255,255,0);
}
.jumbotron > h1{
 font-family: "Josefin Sans";
font-size: 80px;
color: #31FAF3;
/* position: absolute;
left: 23%;
top: 20%; */
}

.diction
{
	
}

#defini
{
	padding: 1vh;
}

</style>
<body>

	<!--<p>$name</p>-->

	<!--<form method = 'get' action="?">
		<input type = 'text' name = 'id'>
		<input type = 'submit'>
	</form>	-->

<!--	<form method = 'get' action="?">
		<input type = 'text' name = 'name'>
		<input type = 'submit'>
	</form>	

	<form class="form1" method="get"> 
		<input id = 'textfield' type = 'text' name = 'myform'>
		<input class="button" type="submit" value="send"/>    
	</form> -->

		

	<div class="fluid">
		<div class="jumbotron">
			<h1>NutShellify</h1>
			<!--<br>
			<p>simplify and commit</p>-->
		</div>
	</div>


<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Select source</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">Text Paste</li>
      <li>URL from any website(other than wiki type:</li>
      <li>Wiki sites URL</li>
    </ul>
  </div>
</nav> -->
<!--<style type="text/css">
    #row{
        position: absolute;
        top: 280px;
        left: 45px;
    }
</style>-->

<div class="row" id = "row">
	
	<div class="col-sm-4 head btn btn-primary txtbut"><h6>Text Paste</h5></div>
	<div class="col-sm-4 head btn btn-primary wikibut"><h6>URL(from wiki type sites):</h5></div>
	<div class="col-sm-4 head btn btn-primary nonwikibut"><h6>URL(from non wiki sites):</h5></div>
</div>

<div class="jumbotron">
	<div class="row wiki">
		<div class="col-sm-7 offset-2">
			<h4 style="font: Open Sans; color:#31FAF3;font-size: 24px; font-weight: bold;">Enter the URL(from wiki type sites) here:</h4>
			<br>
			<form method = 'get' action = '?'>
				<div class="form-group">
					<input type="text" class="form-control" id="url" placeholder="Enter url here" name = 'id'>
					<br>
					<input type="submit" class="btn btn-primary" value = "Summarize!" name = "submit-summ">
				</div>
			</form>
		</div>
	</div>

	<div class="row nonwiki">
		<div class="col-sm-7 offset-2">
			<h4 style="font: Open Sans; color:#31FAF3;font-size: 24px; font-weight: bold;">Enter the URL(from non wiki sites) here:</h4>
			<br>
			
				<div class="form-group">
					<input type="text" class="form-control" id="url2" placeholder="Enter url here">
					<br>
					<button type="submit" class="btn btn-primary otherbut">Summarize!</button>
				</div>
			
		</div>
	</div>

	<div class="col-sm-8 offset-2 simtext">
		<div class="form-group">
			<label for="comment" style="font: Open Sans; color:#31FAF3;font-size: 24px; font-weight: bold;"><h4>Enter text here:</h4></label>
  			<textarea class="form-control" rows="5" id = 'textar'></textarea>
  			<button class="btn btn-primary textarbut">Summarize!</button>
		</div>
	</div>
</div>
	<br>
	<br>

	<div class="col-sm-8 offset-2">
		
		<div class="diction" style="background-color: white;">
			<h5 style="font: Open Sans; color:#104581; font-weight: bold;">Dictionary:</h5>
			<p id = "defini" >dictionary...</p>
		</div>
		
	</div>
	<br>
	<br>


	<div class="row">
		<div class="col-sm-10 offset-1">
			<h6 style="font: Open Sans; color:#31FAF3;font-size: 24px; font-weight: bold;">Summarized notes:</h6>
			<div class="notes-area" style="background-color: white;">
				$for i in name:
					<p style = "overflow:wrap" class = 'notes-box'>$i</p>
			</div>
		</div>
		
	</div>

	<br>
	<br>
	
	
	
	<br>
	<br>
		

	<script src="../static/script.js"></script>
	<script type="text/javascript">
		jQuery("document").ready(function(){
			jQuery(".txtbut").click(function(){
				jQuery(".nonwiki").css("display","none");
				jQuery(".wiki").css("display", "none");
				jQuery(".simtext").css("display", "inline");

			});

			jQuery(".wikibut").click(function(){
				jQuery(".nonwiki").css("display","none");
				jQuery(".wiki").css("display", "inline");
				jQuery(".simtext").css("display", "none");

			});

			jQuery(".nonwikibut").click(function(){
				jQuery(".nonwiki").css("display","inline");
				jQuery(".wiki").css("display", "none");
				jQuery(".simtext").css("display", "none");

			});

			jQuery('.phrase').click(function() {
				var text = jQuery(".notes-area").text();;
				//alert(text);
				console.log(text);
				jQuery("#phrasebox").text(text);
				 jQuery.ajax({
                                                url: '/phrase',
                                                type: "POST",
                                                data: {textfield : text},
                                                success: function(data) {
                                                jQuery("#phrasebox").text(data);
                                                },
                                                });
				});

			jQuery('.notes-area').mouseup(function() {
				var text = getSelectedText();
				//alert(text);
				console.log(text);
				jQuery("#defini").text("loading definitions for "+text);
				 jQuery.ajax({
                                                type: "POST",
                                                data: {textfield : text},
                                                success: function(data) {
                                                jQuery("#defini").text(data);
                                                },
                                                });
				 
				});



		});
	</script>
</body>
</html>